*{
    font-family: Arial;
    font-size: 12pt;
}
a[href^=http]{
    color:orange;
}
div a[href*=alonso]{
    text-decoration: none;
}
*[id$="13"]{
    font-size: 18pt;
}
h1,h2,h3,h4,h5,h6,.cabeceracentrada{
    text-align: center;
}
div p > #miniatura{
    height: 50px;
    width: 50px;
}